body {
  margin: 0;
  font-family: 'Courier New', monospace;
  color: white;
  background-color: black;
}

.flex-container {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

li a.active {
  background-color: white;
  color: black;
}

li a:hover:not(.active) {
  animation: mymove 1s infinite;
}

@keyframes mymove {
  from {background-color: white;}
  to {background-color: black;}
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  animation: mymove 1s infinite;
}
