* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Courier New", monospace;
  font-size: 12px;
  border: 1px solid white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: black;
  border: 1px solid white;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid white;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: white;
  color: black;
}

li a:hover:not(.active) {
  background-color: grey;
  color: white;
}
